@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Phone:
    (850) 264-8941 <br/>
    Email:
    <a href="mailto:CarrollLawnCare@yahoo.com">CarrollLawnCare@yahoo.com</a><br />
</address>