@model IList<Carrol_Lawn_Care.Models.Prop>
@using X.PagedList.Mvc;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Carrol Lawn Care</h1>
    <p class="lead">Below is a list of properties that are to be done today..</p>
</div>
@{if (!(Model == null))
    {
        foreach (var item in Model)
        {

            <hr>
            <div class="container-fluid">
                <div class="row content">
                        <div class="H4">@Html.ActionLink(@Html.DisplayName(item.address).ToString(), "Details", "Props", new { id = item.propId }, null)</div>
                        <div class="more">
                        </div>
                    </div>
                </div>
            }
        }
    }